<!DOCTYPE html>
<html>
<head>
	<title>グルメサイト</title>
	<style type="text/css">
		a{
			text-decoration: none;
			border:thick ridge black;
			border-radius: 10px;
			padding:10px;
			background:#FFFFDD;
			color:black;
		}
		a:hover{
			background:#FFFFAA;
		}
	</style>
</head>
<body>
	<h1 style="text-align: center; margin-top:30px; font-size:60px;">都内の食べ放題を検索するサイト</h1><hr>
	<div style="text-align:center; font-size:50px; padding-top:150px;">
		<a href="{%url 'signup'%}">アカウントを作る</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{%url 'login'%}">ログインする</a>
	</div>

</body>
</html>